.About {
  flex: 1;
  height: 100vh;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: sans-serif;
  font-size: 36px;
  color: white;
}

@media (max-width: 770px) {
  .About {
    padding-bottom: 3.5rem;
    box-sizing: border-box;
  }
}