.About {
  height: 100vh;
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 800px;
  padding-left: 10%;
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
}

.about-text h1 {
  color: white;
  font-family: "UbuntuMedium";
  font-size: 36px;
  margin-bottom: 10px;
  text-align: left;
}

.about-text p {
  font-family: "UbuntuLight";
  font-size: 24px;
  color: white;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 15px;
}

.about-timeline {
  padding-bottom: 20%;
  margin-top: 40px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.my-timeline {
  color: white;
  margin-bottom: 30px;
}

.my-timeline h1 {
  font-family: "UbuntuMedium";
  font-size: 36px;
  margin-bottom: 5px;
}

.my-timeline em {
  margin: 0;
  margin-left: 10px;
  font-size: 16px;
  font-family: "UbuntuLight";
}

.technologies {
  text-align: right;
  font-size: 13px;
  font-style: italic;
}

@media (max-width: 1225px) {
  .About {
    align-items: flex-end;
    padding-right: 30px;
  }
  .about-content {
    width: 60%;
  }
}

@media (max-width: 770px) {
  .About {
    margin-left: 0rem;
    padding-right: 0rem;
    position: absolute;
    top:0;
    width: 100vw;
    height: 100%;
    display: flex;
    padding-bottom: 3.5rem;
    box-sizing: border-box;
    justify-content: space-around;
  }

  .about-content {
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  .about-text {
    flex: 1;
    padding-top: 20px;
    overflow-y: hidden;
  }

  .about-text > div {
    overflow-y: auto;
  }

  .about-timeline {
    padding-bottom: 20px;
  }

  .about-text h1 {
    font-size: 24px;
    margin-bottom: 5px;
    color: var(--primary-color);
  }

  .about-text p {
    font-size: 16px;
    margin-left: 10px;
  }

  .my-timeline h1 {
    font-size: 24px;
    color: var(--primary-color);
  }

  .timeline-container {
  }
}