.About {
  flex: 1;
  height: auto;
  padding-left: 25%;
  align-self: flex-start;
}

.about-content {
  padding: 5rem;
}

p {
  font-family: sans-serif;
  font-size: 36px;
  color: white;
}

@media (max-width: 770px) {
  .About {
    padding-bottom: 3.5rem;
    box-sizing: border-box;
  }
}