.App {
  --primary-color: #08fdd8;
  --medium-gray: #444;
  --dark-gray: #222;
  background-image: url('../images/rock_wall.png');
  position: absolute;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@font-face {
font-family: "ArchivoNarrowBold";
src: url("../fonts/archivonarrow-bold-webfont.woff") format("woff")
}