.App {
  --primary-color: #08fdd8;
  --medium-gray: #444;
  --dark-gray: #222;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.background {
  background-image: url('../images/rock_wall_cropped.jpg');
  position: absolute;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 770px) {
  .App {
    justify-content: center;
    align-items: flex-end;
  }

  .background {
    background-image: url('../images/rock_wall_cropped_mobile.jpg');
  }
}

@font-face {
  font-family: "ArchivoNarrowBold";
  src: url("../fonts/archivonarrow-bold-webfont.woff") format("woff")
}