* {
  --primary-color: #08fdd8;
  --medium-gray: #444;
  --dark-gray: #222;
}

#App {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  padding-left: 3.5rem;
  box-sizing: border-box;
}

#App:after {
  content: '';
  background-image: url('../images/rock_wall_cropped_compressed.png');
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

#checkmark {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(0);
  height: 100px;
  width: 100px;
  z-index: 100;
}

.onSuccess {
  animation: flashInOut 750ms ease;
}

@keyframes flashInOut {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  30% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  70% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

@media (max-width: 770px) {
  #App {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3.5rem;
    padding-left: 0px;
    height: 100vh;
    height: -webkit-fill-available;
  }

  #App:after {
    background-image: url('../images/rock_wall_cropped_mobile_compressed.png');
  }

  .darken {
    background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.2)
    ), url('../images/rock_wall_cropped_mobile_compressed.png');
    background-size: cover;
  }
}

@font-face {
    font-family: 'ArchivoNarrowBold';
    src: url('../fonts/archivonarrow-bold-webfont.woff2') format('woff2'),
         url('../fonts/archivonarrow-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArchivoNarrowMedium';
    src: url('../fonts/ArchivoNarrow-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuBold';
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('../fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuLight';
    src: url('../fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuLightItalic';
    src: url('../fonts/ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}