.Contact {
  z-index: 20;
  position: absolute;
  left: 50vw;
  top: 50vh;
  height: min(70vh, 600px);
  width: min(500px, 90vw);
  background-color: var(--dark-gray);
  box-shadow: 20px 10px 9px -9px #000,
    0 0 0 100vmax rgba(0,0,0,.7);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-family: "UbuntuLight";
}

#contact-me {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 2px;
  color: var(--primary-color);
  font-family: "UbuntuBold";
  font-size: 32px;
}

#my-email {
  font-family: "UbuntuLight";
  font-size: 15px;
  color: white;
  margin-left: 20px;
  filter: brightness(0.5);
}

#blurb {
  margin: 20px;
  color: white;
  font-size: 18px;
}

.inputs {
  display: grid;
  grid-template-areas:
    'name email'
    'subject subject'
    'message message';

  grid-template-rows: 1fr 1fr 5fr;
  grid-template-columns: 50% 50%;
  flex: 1;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

input[type="submit"] {
  width: 60px;
  align-self: flex-end;
  border-radius: 2px;
  border-color: var(--primary-color);
  border-width: 1px;
  color: var(--primary-color);
  background-color: var(--dark-gray);
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
}

input[type="submit"]:hover {
  align-self: flex-end;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--dark-gray);
  border-width: 1px;
  cursor: pointer;
}

input,
textarea {
  background-color: var(--medium-gray);
  color: #AAA;
  font-family: "UbuntuLight";
  font-size: 18px;
  border: 1px black solid;
  padding: 5px;
}

input:focus,
textarea:focus {   
  border-color: rgba(3, 99, 85, 1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(3, 99, 85, 0.8);
  outline: 0 none;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px var(--medium-gray) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #AAA;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--medium-gray) inset;/*your box-shadow*/
  -webkit-text-fill-color: #AAA;
}

::placeholder {
  font-family: "UbuntuLight";
  font-size: 18px;
  color: #AAA;
}

@media (max-width: 770px) {
  .inputs {
    grid-template-areas:
      'name'
      'email'
      'subject'
      'message';

    grid-template-rows: 1fr 1fr 1fr 5fr;
    grid-template-columns: 1fr;
    flex: 1;
  }

  .Contact {
    box-shadow: 20px 10px 9px -9px #000,
      0 0 0 100vmax rgba(0,0,0,.9);
  }
}

.inputs > input:nth-child(1) {
  grid-area: name;
}
.inputs > input:nth-child(2) {
  grid-area: email;
}
.inputs > input:nth-child(3) {
  grid-area: subject;
}
.inputs > textarea {
  grid-area: message;
}