.Contact {
  z-index: 2;
  position: absolute;
  left: 20vw;
  right: 20vw;
  top: 20vh;
  bottom: 20vh;
  background-color: var(--dark-gray);
  box-shadow: 20px 10px 6px -6px #000,
    0 0 0 100vmax rgba(0,0,0,.7);
}

.blurb {
  
}

.inputs {
  display: grid;
  grid-template-areas:
    'name email'
    'subject subject'
    'message message';

  grid-template-rows: 1fr 1fr 5fr;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 770px) {
  .inputs {
    grid-template-areas:
      'name'
      'email'
      'subject'
      'message';

    grid-template-rows: 1fr 1fr 1fr 5fr;
    grid-template-columns: 1fr;
  }
}

.inputs > input:nth-child(1) {
  grid-area: name;
}
.inputs > input:nth-child(2) {
  grid-area: email;
}
.inputs > input:nth-child(3) {
  grid-area: subject;
}
.inputs > input:nth-child(4) {
  grid-area: message;
}