.Nav {
	background-color: var(--dark-gray);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Nav > * {
	margin-top: 3rem;
}

.Nav > :first-child {
	margin-top: 0rem;
}