* {
  --panel-size: 100px;
  --radius: 300px;
}

#container {
  width: 500px;
  height: 150px;
  perspective: 700px;
  margin-bottom: 50px;
}

#rotator {
  transform-origin: 50% 50% calc(var(--radius)/2);
  transform-style: preserve-3d;
  position: relative;
  pointer-events: none;
}

#rotator > div {
  width: var(--panel-size);
  height: var(--panel-size);
  background-color: var(--light-gray);
  opacity: 0.8;
  position: absolute;
  top: 20px;
  left: 200px;
  color: var(--primary-color);
  transform-origin: 50% 50% calc(var(--radius)/(-2));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#rotator img {
  height: 80px;
  pointer-events: none;
}

@media (max-width: 770px) {
  * {
    --panel-size: 100px;
    --radius: 220px;
  }

  #container {
    position: relative;
    bottom: 5px;
    left: 0px;
    margin-bottom: 0px;
  }
}