.timeline-container {
  display: flex;
}

.timeline {
  border-bottom: solid 1px white;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  align-self: flex-end;
}

.major {
  flex: 1;
  height: 20px;
  border-right: solid 1px white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}

.major:first-child {
  border-left: solid 1px white;
}

.major > .minor {
  flex: 1;
  height: 10px;
}

.major > .minor:first-child {
  border-right: solid 1px white;
}

.major > .minor:nth-child(3) {
  border-left: solid 1px white;
}

.year {
  position: absolute;
  bottom: -5px;
  transform: translateY(100%);
  color: white;
  font-size: 11px;
}

.event {
  position: absolute;
  border-top: solid 7px;
  top: -15px;
  bottom: 0;
  transform-origin: top;
  transition: background-color 200ms ease;
  z-index: 2;
}

.background-event {
  border-top: solid 5px;
  top: -30px;
  z-index: 1;
}

.background-event > p {
  margin: 0;
  color: white;
  font-family: "UbuntuLight";
  position: absolute;
  top: 0;
  left: 0;
}

.popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  padding: 5px;
  background-color: rgba(22, 22, 22, 0.4);
  opacity: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.arrow {
  position: absolute;
  top: -56px;
  border: solid 15px transparent;
  border-top-color: rgba(22, 22, 22, 0.4);
  left: 50%;
  transform: translateX(-50%);
}

.my-timeline {
  position: absolute;
  left: 0px;
  right: 0px;
  font-family: "UbuntuBold";
  color: white;
}

.my-timeline p {
  margin: 0;
  font-family: "UbuntuLightItalic";
}

.my-timeline h1 {
  margin: 0;
}

.popup h1 {
  color: white;
  font-family: "UbuntuMedium";
  text-align: center;
}

.summary {
  color: white;
  font-family: "UbuntuLight";
  margin: 3px;
  text-align: left;
}

.technologies {
  color: white;
  font-family: "UbuntuLightItalic";
  margin: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.line {
  height: 2px;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 2px;
}
